<style>
#header {
    background-color:white;
    color:black;
    text-align:center;
    padding:10px;
    float: left;
}
#section {
    background-color:white;
    border-style: solid;
    color: #FF934B
    border-width: 5px;
    padding: 10px
    width:1000px;
    padding:12px;
}

#resumeDiv {
  width: 855px;
  margin:0 auto;
  text-align: center;
} 

body {
	background-color: #2EB8E6;
	Font size: 14;
	font-family: Arial, sans-serif, Geneva;
}

h1 {
	color: white;
	text-align: center;
	font-style:italic; font-weight:bold;}
}
.f
 {
    text-align: center;
    color: white;
}

div { background-color: white;	
 }

h2 {
	color: #FF934B;
        font-style:italic; font-weight:bold;}

p {
	font-family: "Arial";
	font-size: 14px;
}

</style>
