<style>
#header {
    background-color:white;
    color:black;
    text-align:center;
    padding:10px;
    float: left;
}
#section {
    background-color:white;
    border-style: solid;
    color: #FF934B
    border-width: 5px;
    padding: 10px
    width:1000px;
    padding:12px;
}

#resumeDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 561px;
} 

body {
	background-color:white;
	Font size: 16;
	font-family: Arial, sans-serif, Geneva;
}

h1 {
	color: #509982;
	text-align: center;
	font-style:italic; font-weight:bold;}
}

div { background-color: white;	
 }

h2 {
	color: #FF934B;
        font-style:italic; font-weight:bold;}
</style>

p {
	font-family: "Times New Roman";
	font-size: 14px;
}

.footer {font-size:9pt; text-align:center; line-height:12pt; padding-top:30pt;}


